@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}
.w3-ios-light-grey,
.w3-hover-light-grey:hover {
  color: #8b8b8b !important;
  background-color: #ffffff !important;
}
.w3-button-grey-blue {
  color: #5a87e9 !important;
  background-color: #f1f1f7 !important;
}
.w3-button-other {
  color: #5a87e9 !important;
  background-color: #ffffff !important;
}
.w3-button-inactive {
  color: #1a1b1d !important;
  background-color: #e1e1e6 !important;
}
.w3-button-blue {
  color: #ffffff !important;
  background-color: #5a87e9 !important;
}
.w3-ios-light-grey {
  color: #8b8b8b !important;
  background-color: #ffffff !important;
}
.w3-margin-8 {
  margin: 8px !important;
}
.w3-margin-16 {
  margin: 16px !important;
}
.w3-margin-64 {
  margin: 64px !important;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 767px) {
  .hidden-terminal {
    display: none;
  }
}
